@using ZaDvermi.Models
@model List<List<Article>>
@{
    ViewBag.Title = "Plkárna";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-2" style="margin-bottom: 15px">
            <div class="col-xs-6 col-md-4">
                <button type="button" class="btn btn-primary create-item">
                    <span class="glyphicon glyphicon-plus"></span>
                    Přidat příspěvek
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- BOARD -->
        <div class="col-xs-8 col-md-10 ">
            <div class="row">
                <div class="posts-list" data-next-index="3">
                    @{ Html.RenderPartial("List", Model);}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-5">
                    <button type="button" class="btn btn-default next-items">
                        Načíst další příspěvky
                    </button>
                </div>
            </div>
        </div>
       
        <!-- ALERTS and NOTIFICATIONS -->
        <div class="col-xs-4 col-md-2">
            <div class="alert alert-dismissable alert-danger">
                Pozor, pozor, zkouška ve škole!
            </div>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    
    <!-- ADD ITEM on BOARD -->
    <div id="dialog-form" title="Přidat příspěvek na nástěnku">
        @using (Html.BeginForm("AddPost", "Board", FormMethod.Post, new { id = "editor-form" }))
        {
            @Html.TextArea("Post", new { @class = "editor" })
        }       
    </div>
</div>

@section JavaScriptToHead
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".create-item").click(function() {
                $("#dialog-form").dialog("open");
                return false;
            });
            $(".next-items").click(function() {
                var index = $(".posts-list").attr("data-next-index");
                $.ajax({
                    url: '@Url.Action("List", "Board")',
                    data: { "indexFrom": index },
                    success: function(data) {
                        $(".posts-list").append(data);
                        $(".posts-list").attr("data-next-index", parseInt(index) + 3);
                        alert($(".posts-list").attr("data-next-index"));
                    }
                });
                
            });
            $('textarea.editor').ckeditor();
        });


        $("#dialog-form").dialog({
            autoOpen: false,
            height: 420,
            width: 720,
            modal: true,
            resizable: false,
            buttons: {
                "Přidat": function() {
                    $('#editor-form').submit();
                    $(this).dialog("close");
                },
                "Zpět": function() {
                    $(this).dialog("close");
                }
            }
        });
    </script>
    	
}




