@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="nav-tabs">Kontakt</h2>
                </div>
               
            </div>
             <div class="row">
                <div class="col-md-6">
                    <img src="/Content/Images/kontakt.jpg" alt="" class="img-rounded" width="360" />
                </div>
                <div class="col-md-6">
                    <p style="font-weight: bold">
                        Občanské sdružení ZA DVEŘMI
                    </p>
                    <p>
                        Jiráskova 435 
                    </p>
                    <p>
                        Náměšť na Hané 783 44
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:zadvermi@email.cz">za.dvermi@email.cz</a> 
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-piggy-bank"></span> č. účtu: 2816509001/5500
                    </p>
                    <p>
                        <a href="https://www.facebook.com/pages/O-s-ZA-DVE%C5%98MI/112737665403436" target="_blank"><img src="/Content/Images/facebook.png" alt="" width="40" /></a>
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 80px">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="/Content/Images/user_female.png" alt="" width="20" />
                                </td>
                                <td style="font-weight: bold">
                                    Radka Poučová
                                </td>
                                <td>
                                    vedoucí souboru
                                </td>
                                <td>
                                    <a href="mailto:RaPlus@seznam.cz">raplus@seznam.cz</a>
                                </td>
                                <td>
                                    +420 608 726 683
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <img src="/Content/Images/user_male.png" alt="" width="20" />
                                </td>
                                <td style="font-weight: bold">
                                    Jiří Pešát
                                </td>
                                <td>
                                    objednávky představení
                                </td>
                                 <td>
                                    <a href="mailto:pesat2@seznam.cz">pesat2@seznam.cz</a>
                                </td>
                                <td>
                                    +420 723 162 670
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <img src="/Content/Images/user_female.png" alt="" width="20" />
                                </td>
                                <td style="font-weight: bold">
                                    Helena Kurfürstová
                                </td>
                                <td>
                                    umělecká vedoucí
                                </td>
                                 <td>
                                    <a href="mailto:peldja@seznam.cz">peldja@seznam.cz</a>
                                </td>
                                <td>
                                    +420 737 607 873
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <img src="/Content/Images/user_female.png" alt="" width="20" />
                                </td>
                                <td style="font-weight: bold">
                                    Viola Přichystalová
                                </td>
                                <td>
                                    organizační vedoucí
                                </td>
                                 <td>
                                    <a href="mailto:vikola@seznam.cz">vikola@seznam.cz</a>
                                </td>
                                <td>
                                    +420 721 823 539
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <img src="/Content/Images/user_male.png" alt="" width="20" />
                                </td>
                                <td style="font-weight: bold">
                                    Ondřej Kašpar
                                </td>
                                <td>
                                    hospodář
                                </td>
                                 <td>
                                    <a href="mailto:kaspar.ondrej@volny.cz">kaspar.ondrej@volny.cz</a>
                                </td>
                                <td>
                                    +420 608 566 071
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top: 80px">
                <div class="col-md-12 text-center">
                    
                    <img src="/Content/Images/peoples.jpg" alt="" class="img-rounded" />
                </div>
            </div>
        </div>
    </div>
</div>