@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontPageLayout.cshtml";
}


 <!-- Main jumbotron -->
    <div class="jumbotron">
        <div class="container">
            <h1>Kdo jsme ...</h1>
            <p>Spolek mladých ochotníků, který vznikl v létě roku 2007 s cílem obnovit tradici ochotnického divadla v Náměšti na Hané. Naše činnost ale začala už dříve. Možná nás znáte z večerních pohádkových prohlídek zámku v Náměšti na Hané. Nyní se však věnuje zejména jevištním hrám. V našem repertoáru byste mohli vidět například hry Mluvící prsten, Strašidlo Cantervillské, Tenor na Roztrhání nebo Nájemníci pana Swana aneb Habaďůra.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Více o nás &raquo;</a></p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img style="width: 300px; height: 200px;" alt="300x200" src="~/Content/Images/1.jpg" data-src="holder.js/300x200" class="img-circle">
                    <div class="caption">
                        <h2>Derniéra v Loučce</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="#" role="button">Celý článek &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img style="width: 300px; height: 200px;" alt="300x200" src="~/Content/Images/2.jpg" data-src="holder.js/300x200" class="img-circle">
                    <div class="caption">
                        <h2>Připravujeme novou hru</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="#" role="button">Celý článek &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img style="width: 300px; height: 200px;" alt="300x200" src="~/Content/Images/3.jpg" data-src="holder.js/300x200" class="img-circle">
                    <div class="caption">
                        <h2>Spoluprácujeme s obcí</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-default" href="#" role="button">Celý článek &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- CITATIONS -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="carousel-example-generic" class="carousel slide" data-interval="10000" data-ride="carousel">


                    <div class="carousel-inner">

                        <div class="item active">
                            <img alt="" src="~/Content/Images/blank.png">
                            <div class="container">
                                <div class="carousel-caption">
                                    <p>Včera jsem byla na vašem představení v Laškově-děkuji za úžasný zážitek! Legrace i výborné herecké výkony všech! V danou chvíli jsem si říkala-ta holka je nejlepší!...ale přišla další scéna-a já si zase říkala-tahle je nejlepší! ...a tak to šlo stále dokola...U pánů bylo totéž-jeden skvělý výkon nahrazoval vzápětí druhý! Prostě - byli jste nejlepší všichni! Super! Ať se vám i nadále daří!</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="~/Content/Images/blank.png">
                            <div class="container">
                                <div class="carousel-caption">
                                    <p>Dobrý den,děkujeme Vám všem moc za úžasný zážitek,opět skvělé,můj obdiv patří jak hercům tak i nehercům,kteří nejsou vidět,bez nich by to nešlo a jejich zásluhy jsou též velké. No,Jani Štastná,byla jsi úžasná,hrála jsi tak bezprostředně,celým srdíčkem. Ještě jednou moc Vám všem děkujeme,všem patří veliký dík a obdiv a budem se těšit na další.Moc a moc úspěchů při Vaší obětavé práci!!!!</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="~/Content/Images/blank.png">
                            <div class="container">
                                <div class="carousel-caption">
                                    <p>Velké díky všem hercům za fantastické výkony. Byli jste všichni na správné adrese. Dík patří i režii a kostymérce a vůbec všem, kteří se na představení podíleli. Jste výborní!!! Pokračujte ...</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="carousel-control right" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

                </div>
            </div>
        </div>
    </div>