@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CURTAIN -->
<div class="left-curtain opened">
    <img src="~/Content/Images/frontcurtain.jpg" /></div>
<div class="right-curtain opened">
    <img src="~/Content/Images/frontcurtain.jpg" /></div>

@Html.Partial("~/Views/Shared/_NavigationBar.cshtml")

<div class="body-wrapper">
    @RenderBody()
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            openCurtain();
        });
    </script>
    
    @RenderSection("JavaScriptToHead", false)
}

