@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CURTAIN -->
<div class="left-curtain">
    <img src="~/Content/Images/frontcurtain.jpg" /></div>
<div class="right-curtain">
    <img src="~/Content/Images/frontcurtain.jpg" /></div>
<div class="logo">
    <img style="width: 336px; height: 365px;" src="~/Content/Images/logo_big.png" data-src="holder.js/336x365"></div>
<a class="rope" href="#">
    <img src="~/Content/Images/rope.png" />
</a>

@Html.Partial("~/Views/Shared/_NavigationBar.cshtml")

<div class="body-wrapper">
    @RenderBody()
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            if ($.cookie("curtain.state")) {
                if ($.cookie("curtain.state") == 'closed')
                    $(".navbar .container").hide();
            } else {
                $(".navbar .container").hide();
            }
            
        });
    </script>
}
